.pillsMargin {
    margin-top: 20px;
}

.crossIconMargin {
    margin-right: 50px;
}

.brandRightMargin {
    margin-right: 150px;
}

.navDivMargin {
    margin-right: 20px;
}

.containerMargin {
    padding-top: 15px;
    padding-bottom: 15px;
}